html {
  background-color: #f5f5dc;
}

body {
  background: beige;
  color: #1b1e66;
  font-family: Helvetica, Arial, sans-serif;
}

strong {
  color: #008080;
}

.navbar {
  background: #1b1e66;
  color: darkblue;
}

.btn {
  font-weight: 300;
}

.btn-primary {
  background: #e16879;
  border-color: #e16879;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background: #e05164;
  border-color: #e05164;
}

.card {
  border-color: #ccc;
}

.card-title {
  color: #e16878;
  font-weight: 300;
}

.card-block big {
  float: right;

  letter-spacing: 1.5;
}

.description {
  background-image: url("https://cdn.dribbble.com/users/3558835/screenshots/9197759/media/335937b8347f24d2e860dfb52312f1a2.jpg?compress=1&resize=400x300");
  background-repeat: repeat-x;
}

.titlecolor {
  color: darkblue;
  font-family: Helvetica, Arial, sans-serif;
  font-size: medium;
}

.h4{
  font-weight: bold;
}

.whitecolor {
  color: white!important;
  font-family: Helvetica, Arial, sans-serif;
  font-size: large;
}

.home {
  color: white!important;
  font-family: Helvetica, Arial, sans-serif;
  font-size: medium;
}

